.header
  > div
    float left
    &:last-child
      background-color white
      background-image url(../images/logo.png)
      background-position center
      background-repeat no-repeat
      background-size 75%
      border 1px solid black
      border-top none
      color transparent
      float right
      height 80px
      text-indent -1000em
      width 80px
      a
        float left
        height 100%
        width 100%
    h1
      margin-bottom 6px
    button
      margin-right 15px
      padding 7px 14px 8px
    span
      display inline-block
      position relative
      top 1px
