@import "colors"

a.product-nav-link
  background regular-pink
  border none
  color white
  cursor pointer
  outline none
  text-decoration none
  text-transform uppercase
  display inline-block
  font-size 18px
  height 24px
  line-height 5px
  position absolute
  right 4px
  text-align center
  top 4px
  width 24px
  &:hover
    background dark-pink
  &:active
    background very-dark-pink
  &.active
    &:after
      content "-"
  &:after
    color white
    content "+"
    position relative
    top 9px

a.add-to-cart
  background regular-pink
  border none
  color white
  cursor pointer
  outline none
  text-transform uppercase
  text-decoration none
  font-size 12px
  float right
  font-size 10px
  padding 4px 8px 5px
  &:hover
    background dark-pink

h1 a
  color black
  text-decoration none
  &:hover
    text-decoration underline
