tile-dimension = 184px
border-width = 1px
tile = tile-dimension - border-width
gutter = 10px
double-tile-dimension = (tile * 2) + gutter + (border-width * 2)

.moodboard
  clear both
  float left
  margin 60px 0
  width 980px
  &.hidden
    display none
  > div
    float left
    height tile
    margin 0 gutter gutter 0
    width tile
    > div
      margin 0
  .item
    background white
    border 1px solid #333
    height tile
    position relative
    width tile
    &:hover
      > *
        opacity 1
    > *
      opacity 0
      transition: opacity .4s ease-in-out
    img
      display block
      opacity 1
      position absolute
      max-height 100%
      width auto
      transform translateX(-50%)
      left 50%
      max-width 100%
    div
      &.detail-container
        align-items center
        background rgba(255, 255, 255, .90)
        display flex
        height 100%
        justify-content center
        left 0
        position absolute
        top 0
        width 100%
        div
          text-align center
          width 80%
      &.name-and-brand
        left 6px
        position absolute
        bottom 6px
        span
          font-size 16px
          line-height 22px
  .container
    background transparent
    &.one-by-two
      width tile-dimension
  .one-by-one
    button
      &.product-nav-link
        height: 18px
        width: 18px
        line-height: 1px
        padding: 0
        font-size: 13px
        &:after
          top -2px
      &.zoom
        background-size 16px
        height 22px
        left 2px
        top 2px
        width 22px
    div
      &.name-and-brand
        bottom 3px
        left 3px
        width 53%
        span
          font-size 12px
          line-height 16px
      &.price-and-buy
        span
          font-size 11px
          margin-bottom 4px
        button.buy
          font-size 9px
  .two-by-two
    height double-tile-dimension
    width double-tile-dimension
  .one-by-two
    height double-tile-dimension
    width tile
    > .item
      margin-bottom gutter
